@model Resturant_RES_MVC_ITI_PRJ.Areas.Client.Models.Dish
@inject Resturant_RES_MVC_ITI_PRJ.Models.Repositories.Client.IDishIngredientRelRepository DishIngRepository
@inject Resturant_RES_MVC_ITI_PRJ.Models.Repositories.Client.IIngerdientRepository IngredientsRepo

@{
    ViewData["Title"] = "Details";
    var DishIng = DishIngRepository.GetAllDishIngredientRels().Where(rel => rel.DishId == Model.DishId);
    var UnaddedIngred = IngredientsRepo.GetAllIngerdients().Where(i => DishIng.Select(o => o.IngerdientId).ToList().IndexOf(i.IngerdientId) == -1).ToList();

    var IngList = new SelectList(UnaddedIngred, "IngerdientId", "IngName");
}

<div id="kt_app_toolbar_container" class="app-container container p-3 d-flex flex-stack">
    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
        <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Dish Details</h1>
        <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
            <li class="breadcrumb-item text-muted">
                <a asp-action="Index" asp-controller="Home" asp-area="" class="text-muted text-hover-primary">Home</a>
            </li>
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-400 w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item text-muted">Dish Details</li>
        </ul>
    </div>
</div>

<div id="kt_app_content" class="app-content container m-auto w-75 m-5 p-5">
    <div>
        <table class="table table-info table-striped" id="TableData">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.DishName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.DishPrice)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.DishImageName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.DishCategory)
                    </th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="align-middle text-center">
                    <td scope="row">
                        @Html.DisplayFor(modelItem => Model.DishName)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => Model.DishPrice)
                    </td>
                    @{
                        var DishImageName = @Model.DishImageName + ".png";
                    }
                    <td>
                        <i data-bs-toggle="popover" data-bs-placement="right" data-bs-content="<img style='width:50px !important;' src='\assets\images\Sandwitches\@DishImageName' alt='Tooltip Image'>" data-bs-trigger="hover" data-bs-html="true" class="fas fa-image"></i>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.DishCategory.DishCategoryName)
                    </td>
                    <td scope="row">
                        <a asp-action="Edit" asp-route-id="@Model.DishId" class="btn btn-warning">Edit <i class="fa-solid fa-pen-to-square"></i> </a> |
                        <a data-bs-target="#DishModal" data-bs-toggle="modal" data-id="@Model.DishId" class="btn btn-danger open-AddDeleteDialog">Delete <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <a class="btn btn-warning" asp-action="Index" asp-area="Client">Back to List</a>
        </div>
    </div>
</div>
<hr />

<div id="kt_app_content" class="app-content container-fluid m-auto flex-column-fluid m-5 p-5">
    <p>
        <a data-bs-target="#AddRelationModal" data-bs-toggle="modal" class="btn btn-success">Add Ingredient</a>
    </p>
    <table class="table table-light table-striped border " id="TableData2">
        <thead>
            <tr>
                <th class="align-middle text-center">
                    Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in DishIng)
            {
                <tr class="align-middle text-center">

                    <td>
                        @Html.DisplayFor(modelItem => item.Ingredtient.IngName)
                    </td>
                    <td>
                        <a data-bs-target="#RelationModal" data-bs-toggle="modal" data-id="@item.DishIngredientRelId" class="btn btn-danger open-DeleteIngDialog">Delete <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<!-- Deletion if dish Modal -->
<div class="modal fade" id="DishModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Dish Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are You Sure you want to Delete Dish?
            </div>
            <input type="hidden" />
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="DishId" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- Delete Ingredient form dish Modal-->
<div class="modal fade" id="RelationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete ingredient form dish Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are You Sure you want to Delete ingredient form this Dish?
            </div>
            <input type="hidden" />
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="DishIngRel" href="" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- Add Ingredient to dish Modal-->
<div class="modal fade" id="AddRelationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add ingredient to dish Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Create" asp-controller="DishIngredientsRel">
                <div class="modal-body">
                    <h3>Ingredients </h3>
                    <select name="IngerdientId" class="form-control" asp-items="IngList"></select>
                </div>
                <input readonly type="hidden" name="DishId" value="@Model.DishId" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="AddDishIngRel" type="submit" class="btn btn-danger">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#TableData').DataTable();
    });

    $(document).ready(function () {
        $('#TableData2').DataTable();
    });

    $(document).on("click", ".open-AddDeleteDialog", function () {
        var myDishId = "/Client/Dish/Delete/" + $(this).data('id');
        $("#DishId").attr('href', myDishId);
    });

    $(document).on("click", ".open-DeleteIngDialog", function () {
        var myDishIngRelId = "/Client/DishIngredientsRel/Delete/" + $(this).data('id'); + + "?DishId=" + @Model.DishId
            $("#DishIngRel").attr('href', myDishIngRelId);
    });
</script>
