@model IEnumerable<Resturant_RES_MVC_ITI_PRJ.Areas.Client.Models.Dish>

@{
    ViewData["Title"] = "Index";
}
<style>
    a.btn {
        display: felx;
        align-items: center;
        justify-content: space-evenly;
    }

    th, td {
        text-align: center !important;
    }
</style>

<div id="kt_app_toolbar_container" class="app-container container p-3 d-flex flex-stack">
    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
        <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Dishes</h1>
        <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
            <li class="breadcrumb-item text-muted">
                <a asp-action="Index" asp-controller="Home" asp-area="" class="text-muted text-hover-primary">Home</a>
            </li>
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-400 w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item text-muted">Dishes</li>
        </ul>
    </div>
</div>

<div class="d-flex align-items-center justify-content-center my-5 ">
    @using (Html.BeginForm("index", "Dish", FormMethod.Post, new { @class = "d-flex align-items-center justify-content-around w-50 " }))
    {
        <label for="Dish" class="control-label fw-bold w-25">Filter By Category: </label>
        @Html.DropDownList("DishCategoryId", (SelectList) ViewBag.DishesLst,null,new {@class = "me-3 form-select"})
        <a asp-action="Create" asp-controller="DishCategory"><i class="fs-2 text-success fa fa-circle-plus"></i></a>

        <div class="vr mx-5"></div>
        <input type="submit" value="Filter" class="btn btn-info" />
    }
    <a asp-controller="Dish" asp-action="index" asp-area="Client" class="btn btn-secondary mx-2">Reset</a>
</div>

<div id="kt_app_content" class="app-content container-fluid m-auto flex-column-fluid m-5 p-5">
    <p>
        <a asp-action="Create" class="btn btn-success">Create New +</a>
    </p>
    <table class="table table-info table-striped" id="TableData">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DishName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DishPrice)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DishImageName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DishCategory)
                </th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="align-middle text-center">
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.DishName)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.DishPrice)
                    </td>
                    @{
                        var DishImageName = @item.DishImageName + ".png";
                    }
                    <td>
                        <i data-bs-toggle="popover" data-bs-placement="right" data-bs-content="<img style='width:50px !important;' src='\assets\images\Sandwitches\@DishImageName' alt='Tooltip Image'>" data-bs-trigger="hover" data-bs-html="true" class="fas fa-image"></i>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DishCategory.DishCategoryName)
                    </td>
                    <td scope="row">
                        <a asp-action="Edit" asp-route-id="@item.DishId" class="btn btn-warning">Edit <i class="fa-solid fa-pen-to-square"></i> </a> |
                        <a asp-action="Details" asp-route-id="@item.DishId" class="btn btn-info">Details <i class="fa-solid fa-circle-info"></i></a> |
                        <a data-bs-target="#DishModal" data-bs-toggle="modal" data-id="@item.DishId" class="btn btn-danger open-AddDeleteDialog">Delete <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<!-- Delete Record Modal -->
<div class="modal fade" id="DishModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Dish Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are You Sure you want to Delete Dish?
            </div>
            <input type="hidden" />
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="DishId" href="" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#TableData').DataTable();
    });

    $(document).on("click", ".open-AddDeleteDialog", function () {
        var myDishId = "/Client/Dish/Delete/" + $(this).data('id');
        $("#DishId").attr('href', myDishId);
    });
</script>
