@model Resturant_RES_MVC_ITI_PRJ.Areas.Management.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpFirstName)
        </dd><dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpNationalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpNationalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpHiringDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpHiringDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeCategory.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Franchise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Franchise.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-Area="Management" asp-action="Edit" asp-route-id="@Model?.EmpID">Edit</a> |
    <a asp-Area="Management" asp-action="Index">Back to List</a>
</div>
