@model IEnumerable<Resturant_RES_MVC_ITI_PRJ.Areas.Client.Models.Customer>

@{
    ViewData["Title"] = "Index";
}


<style>
    a.btn {
        display: felx;
        align-items: center;
        justify-content: space-evenly;
    }
    th,td{
        text-align: center !important;
    
    }

</style>

<div id="kt_app_toolbar_container" class="app-container container p-3 d-flex flex-stack">
    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
        <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Customers</h1>
        <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
            <li class="breadcrumb-item text-muted">
                <a asp-action="Index" asp-controller="Home" asp-area="" class="text-muted text-hover-primary">Home</a>
            </li>
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-400 w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item text-muted">Customers</li>
        </ul>
    </div>
</div>


<div id="kt_app_content" class="app-content container-fluid m-auto flex-column-fluid m-5 p-5">
    <p>
        <a asp-action="Create" class="btn btn-success">Create New +</a>
    </p>
    <table class="table table-info table-striped" id="TableData">
        <thead>
            <tr class="">
                <th  class="text-center">
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th  class="text-center">
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th  class="text-center">
                    @Html.DisplayNameFor(model => model.CustEmail)
                </th>
                <th  class="text-center">
                    @Html.DisplayNameFor(model => model.CustPhone)
                </th>
                <th  class="text-center">
                    @Html.DisplayNameFor(model => model.CustAddressStreet)
                </th>
                <th  class="text-center">
                    @Html.DisplayNameFor(model => model.CustAddressCity)
                </th>
                <th  class="text-center">
                    @Html.DisplayNameFor(model => model.CustAddressCounty)
                </th>

                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="align-middle text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustAddressStreet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustAddressCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustAddressCounty)
                    </td>
                    <td class="d-flex align-items-center justify-content-center">
                        <a asp-action="Details" asp-route-id="@item.CustID" class="btn btn-info">Details <i class="fa-solid fa-circle-info"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#TableData').DataTable();
    });
</script>

