@using Resturant_RES_MVC_ITI_PRJ.Areas.Client.Models;

@{
    Dictionary<Dish, int> DQ = ViewBag.MostDishesOrdered;

    List<Dish> DI = ViewBag.LeastOrderedDishes;

    Dictionary<string, List<Order>> OT = ViewBag.GetOrderByType;

    List<Customer> CU = ViewBag.MostCustomersOrdered;
}

<p>Number of customers who have placed an order today: @ViewBag.NoCustomerOrdered</p>

    <table class="table table-striped">
    <tr>
        <td>
            Dish Name
        </td>
        <td>
            Quantity
        </td>
    </tr>
    @foreach (var KVP in DQ)
    {
        <tr>
            <td>
                @KVP.Key.DishName
                
            </td>
            <td>
                @KVP.Value
            </td>
        </tr>
    }
    </table>


<table>
    <tr>
        <td class="col-sm-2">Customer ID</td>
        <td class ="col-sm-2">Customer Name</td>
        <td class="col-sm-2">Customer Phone</td>

    </tr>
    @foreach (var customer in CU)
    {
        <tr>
            <td class="col-sm-2">@customer.CustEmail</td>
            <td class="col-sm-2">@customer.FirstName @customer.LastName</td>
            <td class="col-sm-2">@customer.CustPhone</td>
        </tr>
    }
</table>

<table>
    <tr>
        <th>Order Type</th>
        <th>Orders</th>
    </tr>
    @foreach (var kvp in OT)
    {
        <tr>
            <td>@kvp.Key</td>
            <td>
                <ul>
                    <li>@kvp.Value.Count() </li>
                    @*@foreach (var order in kvp.Value)
                    {
                        <li>@order.Customer.FirstName</li>
                    }*@
                </ul>
            </td>
        </tr>
    }
</table>

<table>
    <tr>
        <th>Dish Name</th>
        <th>Dish Price</th>

    </tr>
    @foreach (var dish in DI)
    {
        <tr>
            <td>@dish.DishName</td>
            <td>@dish.DishPrice</td>
            <td>@dish</td>
        </tr>
    }
</table>
