@using Resturant_RES_MVC_ITI_PRJ.Areas.Client.Models;

@{
    Dictionary<Dish, int> DQ = ViewBag.MostDishesOrdered;

    List<Dish> DI = ViewBag.LeastOrderedDishes;

    Dictionary<string, List<Order>> OT = ViewBag.GetOrderByType;

    Dictionary<DateTime, List<Order>> DO = ViewBag.OrdersPerDay;

    Dictionary<int, List<Order>> MT = ViewBag.OrdersPerMonth;
}


<table class="table table-striped">
<tr>
    <td>
        Dish Name
    </td>
    <td>
        Quantity
    </td>
</tr>
@foreach (var KVP in DQ)
{
    <tr>
        <td>
            @KVP.Key.DishName
                
        </td>
        <td>
            @KVP.Value
        </td>
    </tr>
}
</table>


<table>
    <tr>
        <th>Order Type</th>
        <th>Orders</th>
    </tr>
    @foreach (var kvp in OT)
    {
        <tr>
            <td>@kvp.Key</td>
            <td>
                <ul>
                    <li>@kvp.Value.Count() </li>
                    @*@foreach (var order in kvp.Value)
                    {
                        <li>@order.Customer.FirstName</li>
                    }*@
                </ul>
            </td>
        </tr>
    }
</table>

<p>Orders Per Day</p>
<table>
    <tr>
        <th>Date</th>
        <th>Orders</th>
    </tr>
    @foreach (var kvp in DO)
    {
        <tr>
            <td>@kvp.Key</td>
            <td>
                <ul>
                    @foreach (var order in kvp.Value)
                    {
                        <li>@order.PaymentMethod</li>
                    }
                </ul>
            </td>
        </tr>
    }
</table>

<p>Orders Per Month</p>
<table>
    <tr>
        <th>Month</th>
        <th>Orders</th>
    </tr>
    @foreach (var kvp in MT)
    {
        <tr>
            <td>@kvp.Key</td>
            <td>
                <ul>
                    @foreach (var order in kvp.Value)
                    {
                        <li>@order.PaymentMethod</li>
                    }
                </ul>
            </td>
        </tr>
    }
</table>

<table>
    <tr>
        <th>Dish Name</th>
        <th>Dish Price</th>
        <th>Dish Category</th>
    </tr>
    @foreach (var dish in DI)
    {
        <tr>
            <td>@dish.DishName</td>
            <td>@dish.DishPrice</td>
            <td>@dish.DishCategory.DishCategoryName</td>
        </tr>
    }
</table>
