@using Resturant_RES_MVC_ITI_PRJ.Areas.Client.Models;

@{
    Dictionary<Dish, int> MostDishesOrdered = ViewBag.MostDishesOrdered;


    Dictionary<string, List<Order>> GetOrderByType = ViewBag.GetOrderByType;
    List<Order> OrdersPer2Day = ViewBag.OrdersPer2Day;


}

<div id="kt_app_toolbar_container" class="app-container container p-3 d-flex flex-stack">
    <!--begin::Page title-->
    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
        <!--begin::Title-->
        <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Orders Analysis</h1>
        <!--end::Title-->
        <!--begin::Breadcrumb-->
        <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted">
                <a asp-action="Index" asp-controller="Home" asp-area="" class="text-muted text-hover-primary">Home</a>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-400 w-5px h-2px"></span>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted">Orders Analysis</li>
            <!--end::Item-->
        </ul>
        <!--end::Breadcrumb-->
    </div>
    <!--end::Page title-->

</div>


<div id="kt_app_content" class="app-content container m-auto flex-column-fluid m-5 p-5">
    <div class="d-flex align-items-center justify-content-evenly mx-3">

        <div class="card text-bg-danger mb-3" style="max-width: 18rem;height:150px;">
            <div class="card-body">
                <h5 class="card-title"> Number of orders per 2day</h5>
                <p class="card-text fs-1 text-light fw-bold"> @ViewBag.OrdersPer2Day.Count</p>
            </div>
        </div>
    </div>


    <hr />
    <p class="fw-bold fs-4">Most Dishes Ordered</p>
    <table class="table table-warning table-striped" id="TableData01">
        <thead>
            <tr class="align-middle text-center">
                <th class="text-center">
                    Dish Name
                </th>
                <th class="text-center">
                    Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var KVP in MostDishesOrdered)
            {
                <tr class="align-middle text-center">
                    <td>
                        @KVP.Key.DishName

                    </td>
                    <td>
                        @KVP.Value
                    </td>
                </tr>
            }
        </tbody>
       
    </table>

    <hr/>


    <p class="fw-bold fs-4">Count of orders per type</p>
    <table class="table table-warning table-striped" id="TableData02">
       <thead>
            <tr class="align-middle text-center">
                <th  class="text-center">Order Type</th>
                <th  class="text-center">Orders</th>
            </tr>
       </thead>
      <tbody>
            @foreach (var kvp in GetOrderByType)
            {
                <tr class="align-middle text-center">
                    <td>@kvp.Key</td>
                    <td>
                      
                           @kvp.Value.Count() 
                            @*@foreach (var order in kvp.Value)
                        {
                        <li>@order.Customer.FirstName</li>
                        }*@
                    
                    </td>
                </tr>
            }
      </tbody>
 
    </table>
    <hr />



</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#TableData01').DataTable();
    });
        $(document).ready(function () {
        $('#TableData02').DataTable();
    });


</script>
