@model IEnumerable<Resturant_RES_MVC_ITI_PRJ.Areas.Client.Models.Testimonials>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestimonialsText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestimonialsText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustEmail)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.TestimonialsID" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TestimonialsID" class="btn btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TestimonialsID" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
