@model Resturant_RES_MVC_ITI_PRJ.Areas.Client.Models.CustomerAddersses

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CustomerAddersses</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustAddressApartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustAddressApartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustAddressFloor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustAddressFloor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustAddressBuildingNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustAddressBuildingNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustAddressStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustAddressStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustAddressCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustAddressCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustAddressCounty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustAddressCounty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CustomerAdderssesID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
